/****** Object:  Schema [auth]    Script Date: 12/07/2026 15:18:53 ******/
CREATE SCHEMA [auth]
GO
/****** Object:  Schema [booking]    Script Date: 12/07/2026 15:18:53 ******/
CREATE SCHEMA [booking]
GO
/****** Object:  Schema [catalog]    Script Date: 12/07/2026 15:18:53 ******/
CREATE SCHEMA [catalog]
GO
/****** Object:  Schema [core]    Script Date: 12/07/2026 15:18:53 ******/
CREATE SCHEMA [core]
GO
/****** Object:  Schema [finance]    Script Date: 12/07/2026 15:18:53 ******/
CREATE SCHEMA [finance]
GO
/****** Object:  Schema [reporting]    Script Date: 12/07/2026 15:18:53 ******/
CREATE SCHEMA [reporting]
GO
/****** Object:  Table [core].[PerfilUsuario]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[PerfilUsuario](
	[perfil_usuario_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[nombres] [nvarchar](120) NOT NULL,
	[apellidos] [nvarchar](120) NOT NULL,
	[tipo_documento] [nvarchar](20) NULL,
	[numero_documento] [nvarchar](30) NULL,
	[telefono] [nvarchar](30) NULL,
	[fecha_nacimiento] [date] NULL,
	[sexo] [char](1) NULL,
	[foto_url] [nvarchar](500) NULL,
	[biografia] [nvarchar](500) NULL,
	[direccion] [nvarchar](255) NULL,
	[distrito] [nvarchar](100) NULL,
	[ciudad] [nvarchar](100) NULL,
	[pais] [nvarchar](100) NOT NULL,
	[recibe_notif_email] [bit] NOT NULL,
	[recibe_notif_push] [bit] NOT NULL,
	[recibe_notif_sms] [bit] NOT NULL,
	[ingreso_mensual_referencial] [decimal](12, 2) NULL,
	[tiene_aval_bancario] [bit] NOT NULL,
	[tiene_contrato_trabajo] [bit] NOT NULL,
	[tiene_garante] [bit] NOT NULL,
	[nombre_garante] [nvarchar](200) NULL,
	[contacto_garante] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[perfil_usuario_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PerfilUsuario_Usuario] UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finance].[CuentaCobroInmueble]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finance].[CuentaCobroInmueble](
	[cuenta_cobro_inmueble_id] [int] IDENTITY(1,1) NOT NULL,
	[inmueble_id] [int] NOT NULL,
	[numero_recibo_base] [nvarchar](50) NOT NULL,
	[dia_vencimiento] [tinyint] NOT NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cuenta_cobro_inmueble_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CuentaCobroInmueble_Inmueble] UNIQUE NONCLUSTERED 
(
	[inmueble_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CuentaCobroInmueble_Numero] UNIQUE NONCLUSTERED 
(
	[numero_recibo_base] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finance].[Recibo]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finance].[Recibo](
	[recibo_id] [int] IDENTITY(1,1) NOT NULL,
	[cuenta_cobro_inmueble_id] [int] NOT NULL,
	[reserva_id] [int] NULL,
	[periodo_anio] [int] NOT NULL,
	[periodo_mes] [tinyint] NOT NULL,
	[fecha_emision] [date] NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[estado_recibo] [nvarchar](20) NOT NULL,
	[subtotal] [decimal](12, 2) NOT NULL,
	[igv_total] [decimal](12, 2) NOT NULL,
	[total] [decimal](12, 2) NOT NULL,
	[saldo_pendiente] [decimal](12, 2) NOT NULL,
	[generado_desde_recibo_id] [int] NULL,
	[emitido_por_usuario_id] [int] NULL,
	[pdf_url] [nvarchar](500) NULL,
	[observaciones] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[recibo_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[Inmueble]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[Inmueble](
	[inmueble_id] [int] IDENTITY(1,1) NOT NULL,
	[empresa_id] [int] NOT NULL,
	[edificio_id] [int] NULL,
	[codigo] [nvarchar](30) NOT NULL,
	[tipo_inmueble] [nvarchar](20) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[subtipo_unidad] [nvarchar](50) NULL,
	[descripcion] [nvarchar](1000) NULL,
	[direccion_linea1] [nvarchar](255) NOT NULL,
	[direccion_linea2] [nvarchar](255) NULL,
	[numero] [nvarchar](30) NULL,
	[distrito] [nvarchar](100) NULL,
	[ciudad] [nvarchar](100) NULL,
	[provincia] [nvarchar](100) NULL,
	[departamento] [nvarchar](100) NULL,
	[codigo_postal] [nvarchar](20) NULL,
	[pais] [nvarchar](100) NOT NULL,
	[planta] [nvarchar](20) NULL,
	[letra] [nvarchar](20) NULL,
	[area_m2] [decimal](10, 2) NULL,
	[num_habitaciones] [int] NULL,
	[num_banos] [int] NULL,
	[capacidad_personas] [int] NULL,
	[renta_base_mensual] [decimal](12, 2) NULL,
	[moneda] [char](3) NOT NULL,
	[latitud] [decimal](9, 6) NULL,
	[longitud] [decimal](9, 6) NULL,
	[estado_operativo] [nvarchar](20) NOT NULL,
	[es_publicable] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[deleted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[inmueble_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Inmueble_Codigo] UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [booking].[Reserva]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [booking].[Reserva](
	[reserva_id] [int] IDENTITY(1,1) NOT NULL,
	[inmueble_id] [int] NOT NULL,
	[inquilino_id] [int] NOT NULL,
	[estado_reserva] [nvarchar](20) NOT NULL,
	[fecha_solicitud] [datetime2](7) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[renta_pactada_mensual] [decimal](12, 2) NULL,
	[monto_total_estimado] [decimal](12, 2) NULL,
	[deposito_garantia] [decimal](12, 2) NULL,
	[moneda] [char](3) NOT NULL,
	[observacion_inquilino] [nvarchar](500) NULL,
	[observacion_gestor] [nvarchar](500) NULL,
	[motivo_rechazo] [nvarchar](300) NULL,
	[motivo_cancelacion] [nvarchar](300) NULL,
	[fecha_decision] [datetime2](7) NULL,
	[gestionado_por_usuario_id] [int] NULL,
	[fecha_checkin] [datetime2](7) NULL,
	[fecha_checkout] [datetime2](7) NULL,
	[checkin_confirmado_por] [int] NULL,
	[checkout_confirmado_por] [int] NULL,
	[cancelado_por_usuario_id] [int] NULL,
	[fecha_cancelacion] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reserva_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [reporting].[v_RecibosPendientes]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   VISTAS DE REPORTE
   ========================================================= */

-- Recibos pendientes / deudores
CREATE VIEW [reporting].[v_RecibosPendientes]
AS
SELECT
    r.recibo_id,
    cc.numero_recibo_base,
    i.inmueble_id,
    i.codigo AS codigo_inmueble,
    i.nombre AS inmueble,
    res.reserva_id,
    pu.nombres + ' ' + pu.apellidos AS inquilino,
    r.periodo_anio,
    r.periodo_mes,
    r.fecha_emision,
    r.fecha_vencimiento,
    r.total,
    r.saldo_pendiente,
    r.estado_recibo
FROM finance.Recibo r
INNER JOIN finance.CuentaCobroInmueble cc
    ON cc.cuenta_cobro_inmueble_id = r.cuenta_cobro_inmueble_id
INNER JOIN catalog.Inmueble i
    ON i.inmueble_id = cc.inmueble_id
LEFT JOIN booking.Reserva res
    ON res.reserva_id = r.reserva_id
LEFT JOIN core.PerfilUsuario pu
    ON pu.usuario_id = res.inquilino_id
WHERE r.estado_recibo IN ('EMITIDO','PARCIAL','VENCIDO')
  AND r.saldo_pendiente > 0;
GO
/****** Object:  Table [finance].[CuentaBancaria]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finance].[CuentaBancaria](
	[cuenta_bancaria_id] [int] IDENTITY(1,1) NOT NULL,
	[empresa_id] [int] NOT NULL,
	[banco_id] [int] NOT NULL,
	[nombre_cuenta] [nvarchar](150) NOT NULL,
	[numero_cuenta] [nvarchar](50) NOT NULL,
	[cci] [nvarchar](50) NULL,
	[moneda] [char](3) NOT NULL,
	[tipo_cuenta] [nvarchar](20) NOT NULL,
	[saldo_inicial] [decimal](14, 2) NOT NULL,
	[saldo_actual] [decimal](14, 2) NOT NULL,
	[activa] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cuenta_bancaria_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CuentaBancaria_Numero] UNIQUE NONCLUSTERED 
(
	[banco_id] ASC,
	[numero_cuenta] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finance].[MovimientoBancario]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finance].[MovimientoBancario](
	[movimiento_bancario_id] [int] IDENTITY(1,1) NOT NULL,
	[cuenta_bancaria_id] [int] NOT NULL,
	[categoria_movimiento_id] [int] NOT NULL,
	[tipo_movimiento] [nvarchar](20) NOT NULL,
	[inmueble_id] [int] NULL,
	[reserva_id] [int] NULL,
	[recibo_id] [int] NULL,
	[pago_id] [int] NULL,
	[fecha_movimiento] [datetime2](7) NOT NULL,
	[concepto] [nvarchar](200) NOT NULL,
	[descripcion] [nvarchar](500) NULL,
	[importe] [decimal](14, 2) NOT NULL,
	[saldo_anterior] [decimal](14, 2) NULL,
	[saldo_posterior] [decimal](14, 2) NULL,
	[referencia_externa] [nvarchar](150) NULL,
	[observaciones] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[movimiento_bancario_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [reporting].[v_ResumenFinancieroMensual]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [reporting].[v_ResumenFinancieroMensual]
AS
SELECT
    cb.empresa_id,
    YEAR(mb.fecha_movimiento) AS anio,
    MONTH(mb.fecha_movimiento) AS mes,
    SUM(CASE WHEN mb.tipo_movimiento = 'INGRESO' THEN mb.importe ELSE 0 END) AS total_ingresos,
    SUM(CASE WHEN mb.tipo_movimiento = 'GASTO' THEN mb.importe ELSE 0 END) AS total_gastos,
    SUM(CASE WHEN mb.tipo_movimiento = 'INGRESO' THEN mb.importe ELSE -mb.importe END) AS balance_neto
FROM finance.MovimientoBancario mb
INNER JOIN finance.CuentaBancaria cb
    ON cb.cuenta_bancaria_id = mb.cuenta_bancaria_id
GROUP BY
    cb.empresa_id,
    YEAR(mb.fecha_movimiento),
    MONTH(mb.fecha_movimiento);
GO
/****** Object:  View [reporting].[v_KPI_Ocupacion_Rentabilidad]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- KPI simplificado por inmueble
CREATE VIEW [reporting].[v_KPI_Ocupacion_Rentabilidad]
AS
WITH ReservasAgg AS
(
    SELECT
        inmueble_id,
        COUNT(CASE WHEN estado_reserva IN ('APROBADA','ACTIVA','FINALIZADA') THEN 1 END) AS reservas_confirmadas,
        SUM(CASE WHEN estado_reserva IN ('APROBADA','ACTIVA','FINALIZADA')
                 THEN DATEDIFF(DAY, fecha_inicio, fecha_fin)
                 ELSE 0 END) AS dias_ocupados
    FROM booking.Reserva
    GROUP BY inmueble_id
),
MovimientosAgg AS
(
    SELECT
        inmueble_id,
        SUM(CASE WHEN tipo_movimiento = 'INGRESO' THEN importe ELSE 0 END) AS ingresos,
        SUM(CASE WHEN tipo_movimiento = 'GASTO' THEN importe ELSE 0 END) AS gastos
    FROM finance.MovimientoBancario
    GROUP BY inmueble_id
)
SELECT
    i.inmueble_id,
    i.codigo,
    i.nombre,
    i.tipo_inmueble,
    ISNULL(r.reservas_confirmadas, 0) AS reservas_confirmadas,
    ISNULL(r.dias_ocupados, 0) AS dias_ocupados,
    ISNULL(m.ingresos, 0) AS ingresos,
    ISNULL(m.gastos, 0) AS gastos,
    ISNULL(m.ingresos, 0) - ISNULL(m.gastos, 0) AS rentabilidad_neta
FROM catalog.Inmueble i
LEFT JOIN ReservasAgg r
    ON r.inmueble_id = i.inmueble_id
LEFT JOIN MovimientosAgg m
    ON m.inmueble_id = i.inmueble_id
WHERE i.activo = 1;
GO
/****** Object:  Table [finance].[Pago]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finance].[Pago](
	[pago_id] [int] IDENTITY(1,1) NOT NULL,
	[recibo_id] [int] NOT NULL,
	[reserva_id] [int] NULL,
	[usuario_pagador_id] [int] NOT NULL,
	[metodo_pago] [nvarchar](20) NOT NULL,
	[proveedor_pasarela] [nvarchar](100) NULL,
	[transaccion_externa] [nvarchar](150) NULL,
	[referencia] [nvarchar](150) NULL,
	[monto] [decimal](12, 2) NOT NULL,
	[moneda] [char](3) NOT NULL,
	[estado_pago] [nvarchar](20) NOT NULL,
	[fecha_pago] [datetime2](7) NOT NULL,
	[fecha_confirmacion] [datetime2](7) NULL,
	[observaciones] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pago_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [reporting].[v_PagosYDeudores]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Reporte de pagos y deudores
CREATE VIEW [reporting].[v_PagosYDeudores]
AS
WITH PagosConfirmados AS
(
    SELECT
        recibo_id,
        SUM(CASE WHEN estado_pago = 'CONFIRMADO' THEN monto ELSE 0 END) AS total_pagado
    FROM finance.Pago
    GROUP BY recibo_id
)
SELECT
    r.recibo_id,
    i.inmueble_id,
    i.nombre AS inmueble,
    pu.nombres + ' ' + pu.apellidos AS inquilino,
    r.periodo_anio,
    r.periodo_mes,
    r.total,
    ISNULL(p.total_pagado, 0) AS total_pagado,
    (r.total - ISNULL(p.total_pagado, 0)) AS deuda,
    CASE
        WHEN (r.total - ISNULL(p.total_pagado, 0)) <= 0 THEN 'PAGADO'
        WHEN ISNULL(p.total_pagado, 0) > 0 THEN 'PARCIAL'
        ELSE 'PENDIENTE'
    END AS estado_pago_general,
    r.fecha_vencimiento
FROM finance.Recibo r
INNER JOIN finance.CuentaCobroInmueble cc
    ON cc.cuenta_cobro_inmueble_id = r.cuenta_cobro_inmueble_id
INNER JOIN catalog.Inmueble i
    ON i.inmueble_id = cc.inmueble_id
LEFT JOIN booking.Reserva res
    ON res.reserva_id = r.reserva_id
LEFT JOIN core.PerfilUsuario pu
    ON pu.usuario_id = res.inquilino_id
LEFT JOIN PagosConfirmados p
    ON p.recibo_id = r.recibo_id;
GO
/****** Object:  Table [auth].[Notificacion]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[Notificacion](
	[notificacion_id] [int] IDENTITY(1,1) NOT NULL,
	[empresa_id] [int] NOT NULL,
	[usuario_origen_id] [int] NULL,
	[usuario_destino_id] [int] NOT NULL,
	[tipo_notificacion] [varchar](80) NOT NULL,
	[titulo] [varchar](150) NOT NULL,
	[mensaje] [varchar](600) NOT NULL,
	[referencia_tipo] [varchar](80) NULL,
	[referencia_id] [int] NULL,
	[leida] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_lectura] [datetime2](7) NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Notificacion] PRIMARY KEY CLUSTERED 
(
	[notificacion_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[Rol]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[Rol](
	[rol_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](200) NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Rol_Nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[SesionUsuario]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[SesionUsuario](
	[sesion_usuario_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[token] [nvarchar](500) NOT NULL,
	[user_agent] [nvarchar](500) NULL,
	[ip_address] [nvarchar](64) NULL,
	[fecha_inicio] [datetime2](7) NOT NULL,
	[fecha_expiracion] [datetime2](7) NOT NULL,
	[fecha_revocacion] [datetime2](7) NULL,
	[activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sesion_usuario_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SesionUsuario_Token] UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[TokenRecuperacionPassword]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[TokenRecuperacionPassword](
	[token_recuperacion_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[fecha_expiracion] [datetime2](7) NOT NULL,
	[usado] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[token_recuperacion_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TokenRecuperacion_Token] UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[TokenVerificacionEmail]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[TokenVerificacionEmail](
	[token_verificacion_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[fecha_expiracion] [datetime2](7) NOT NULL,
	[usado] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[token_verificacion_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TokenVerificacion_Token] UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[Usuario]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[Usuario](
	[usuario_id] [int] IDENTITY(1,1) NOT NULL,
	[empresa_id] [int] NOT NULL,
	[correo] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[email_verificado] [bit] NOT NULL,
	[ultimo_acceso] [datetime2](7) NULL,
	[acepta_terminos] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[deleted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[usuario_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuario_Correo] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[UsuarioRol]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[UsuarioRol](
	[usuario_rol_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[rol_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usuario_rol_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UsuarioRol] UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC,
	[rol_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [booking].[EvaluacionInquilino]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [booking].[EvaluacionInquilino](
	[evaluacion_inquilino_id] [int] IDENTITY(1,1) NOT NULL,
	[reserva_id] [int] NOT NULL,
	[evaluado_por_usuario_id] [int] NOT NULL,
	[score_riesgo] [int] NULL,
	[historial_reservas] [int] NULL,
	[observaciones] [nvarchar](500) NULL,
	[resultado] [nvarchar](20) NOT NULL,
	[fecha_evaluacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[evaluacion_inquilino_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [booking].[ReservaEvento]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [booking].[ReservaEvento](
	[reserva_evento_id] [int] IDENTITY(1,1) NOT NULL,
	[reserva_id] [int] NOT NULL,
	[usuario_id] [int] NULL,
	[tipo_evento] [nvarchar](30) NOT NULL,
	[descripcion] [nvarchar](500) NULL,
	[fecha_evento] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reserva_evento_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [booking].[SolicitudExtension]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [booking].[SolicitudExtension](
	[solicitud_extension_id] [int] IDENTITY(1,1) NOT NULL,
	[reserva_id] [int] NOT NULL,
	[solicitante_usuario_id] [int] NOT NULL,
	[nueva_fecha_fin] [date] NOT NULL,
	[motivo] [nvarchar](500) NULL,
	[estado] [nvarchar](20) NOT NULL,
	[fecha_solicitud] [datetime2](7) NOT NULL,
	[fecha_decision] [datetime2](7) NULL,
	[decidido_por_usuario_id] [int] NULL,
	[comentario_decision] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[solicitud_extension_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[BloqueoDisponibilidad]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[BloqueoDisponibilidad](
	[bloqueo_disponibilidad_id] [int] IDENTITY(1,1) NOT NULL,
	[inmueble_id] [int] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[motivo] [nvarchar](300) NULL,
	[origen] [nvarchar](20) NOT NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[bloqueo_padre_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bloqueo_disponibilidad_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[Caracteristica]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[Caracteristica](
	[caracteristica_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[tipo_dato] [nvarchar](20) NOT NULL,
	[descripcion] [nvarchar](200) NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[caracteristica_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Caracteristica_Nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[InmuebleCaracteristica]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[InmuebleCaracteristica](
	[inmueble_caracteristica_id] [int] IDENTITY(1,1) NOT NULL,
	[inmueble_id] [int] NOT NULL,
	[caracteristica_id] [int] NOT NULL,
	[valor_texto] [nvarchar](200) NULL,
	[valor_numero] [decimal](12, 2) NULL,
	[valor_boolean] [bit] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[inmueble_caracteristica_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_InmuebleCaracteristica] UNIQUE NONCLUSTERED 
(
	[inmueble_id] ASC,
	[caracteristica_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[InmuebleFoto]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[InmuebleFoto](
	[inmueble_foto_id] [int] IDENTITY(1,1) NOT NULL,
	[publicacion_id] [int] NOT NULL,
	[url_foto] [nvarchar](500) NOT NULL,
	[nombre_archivo] [nvarchar](255) NULL,
	[orden_visual] [int] NOT NULL,
	[es_principal] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[public_id_cloudinary] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[inmueble_foto_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[Publicacion]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[Publicacion](
	[publicacion_id] [int] IDENTITY(1,1) NOT NULL,
	[inmueble_id] [int] NOT NULL,
	[titulo] [nvarchar](200) NOT NULL,
	[descripcion_corta] [nvarchar](500) NULL,
	[descripcion_larga] [nvarchar](max) NULL,
	[precio_publicado_mensual] [decimal](12, 2) NOT NULL,
	[moneda] [char](3) NOT NULL,
	[condiciones_arrendamiento] [nvarchar](1000) NULL,
	[disponible_desde] [date] NULL,
	[estado_publicacion] [nvarchar](20) NOT NULL,
	[es_destacado] [bit] NOT NULL,
	[acepta_reservas] [bit] NOT NULL,
	[fecha_publicacion] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[publicado_por_usuario_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[publicacion_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Publicacion_Inmueble] UNIQUE NONCLUSTERED 
(
	[inmueble_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [core].[Empresa]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[Empresa](
	[empresa_id] [int] IDENTITY(1,1) NOT NULL,
	[razon_social] [nvarchar](200) NOT NULL,
	[nombre_comercial] [nvarchar](200) NULL,
	[ruc] [nvarchar](20) NULL,
	[correo_contacto] [nvarchar](255) NULL,
	[telefono_contacto] [nvarchar](30) NULL,
	[direccion_fiscal] [nvarchar](255) NULL,
	[ciudad] [nvarchar](100) NULL,
	[pais] [nvarchar](100) NOT NULL,
	[moneda_base] [char](3) NOT NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[deleted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[empresa_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[EmpresaSecretario]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[EmpresaSecretario](
	[empresa_secretario_id] [int] IDENTITY(1,1) NOT NULL,
	[empresa_id] [int] NOT NULL,
	[secretario_usuario_id] [int] NOT NULL,
	[asignado_por_usuario_id] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_asignacion] [datetime2](7) NOT NULL,
	[fecha_revocacion] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[empresa_secretario_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EmpresaSecretario] UNIQUE NONCLUSTERED 
(
	[empresa_id] ASC,
	[secretario_usuario_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finance].[Banco]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finance].[Banco](
	[banco_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[codigo] [nvarchar](30) NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[banco_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Banco_Nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finance].[CategoriaMovimiento]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finance].[CategoriaMovimiento](
	[categoria_movimiento_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[naturaleza] [nvarchar](20) NOT NULL,
	[descripcion] [nvarchar](300) NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categoria_movimiento_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CategoriaMovimiento_Nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC,
	[naturaleza] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finance].[ConceptoCobro]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finance].[ConceptoCobro](
	[concepto_cobro_id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](30) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](300) NULL,
	[tipo_concepto] [nvarchar](20) NOT NULL,
	[es_obligatorio] [bit] NOT NULL,
	[aplica_igv] [bit] NOT NULL,
	[monto_default] [decimal](12, 2) NOT NULL,
	[orden_impresion] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[categoria] [nvarchar](40) NOT NULL,
	[metodo_calculo] [nvarchar](40) NOT NULL,
	[aplica_en] [nvarchar](20) NOT NULL,
	[aplica_desde_dias] [int] NOT NULL,
	[prorrateable] [bit] NOT NULL,
	[permite_pago_online] [bit] NOT NULL,
	[es_sistema] [bit] NOT NULL,
	[editable] [bit] NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[concepto_cobro_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ConceptoCobro_Codigo] UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finance].[ConfiguracionCobroInmueble]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finance].[ConfiguracionCobroInmueble](
	[configuracion_cobro_id] [int] IDENTITY(1,1) NOT NULL,
	[inmueble_id] [int] NOT NULL,
	[concepto_cobro_id] [int] NOT NULL,
	[monto_configurado] [decimal](12, 2) NOT NULL,
	[es_obligatorio] [bit] NOT NULL,
	[vigencia_desde] [date] NOT NULL,
	[vigencia_hasta] [date] NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[configuracion_cobro_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finance].[IndiceIPC]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finance].[IndiceIPC](
	[indice_ipc_id] [int] IDENTITY(1,1) NOT NULL,
	[anio] [int] NOT NULL,
	[porcentaje_anual] [decimal](6, 3) NOT NULL,
	[fecha_publicacion] [date] NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[indice_ipc_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_IndiceIPC_Anio] UNIQUE NONCLUSTERED 
(
	[anio] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finance].[ReciboDetalle]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finance].[ReciboDetalle](
	[recibo_detalle_id] [int] IDENTITY(1,1) NOT NULL,
	[recibo_id] [int] NOT NULL,
	[concepto_cobro_id] [int] NOT NULL,
	[descripcion] [nvarchar](200) NULL,
	[cantidad] [decimal](12, 2) NOT NULL,
	[precio_unitario] [decimal](12, 2) NOT NULL,
	[importe] [decimal](12, 2) NOT NULL,
	[orden_impresion] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[recibo_detalle_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ReciboDetalle] UNIQUE NONCLUSTERED 
(
	[recibo_id] ASC,
	[concepto_cobro_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finance].[TarifaInmueble]    Script Date: 12/07/2026 15:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finance].[TarifaInmueble](
	[tarifa_inmueble_id] [int] IDENTITY(1,1) NOT NULL,
	[inmueble_id] [int] NOT NULL,
	[vigencia_desde] [date] NOT NULL,
	[vigencia_hasta] [date] NULL,
	[renta_base_mensual] [decimal](12, 2) NOT NULL,
	[porcentaje_ipc_aplicado] [decimal](6, 3) NOT NULL,
	[monto_incremento] [decimal](12, 2) NOT NULL,
	[motivo] [nvarchar](300) NULL,
	[aplicado_por_usuario_id] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[indice_ipc_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[tarifa_inmueble_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [auth].[Notificacion] ADD  CONSTRAINT [DF_Notificacion_Leida]  DEFAULT ((0)) FOR [leida]
GO
ALTER TABLE [auth].[Notificacion] ADD  CONSTRAINT [DF_Notificacion_FechaCreacion]  DEFAULT (sysutcdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [auth].[Notificacion] ADD  CONSTRAINT [DF_Notificacion_Activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [auth].[Rol] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [auth].[Rol] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [auth].[SesionUsuario] ADD  DEFAULT (sysdatetime()) FOR [fecha_inicio]
GO
ALTER TABLE [auth].[SesionUsuario] ADD  DEFAULT ((1)) FOR [activa]
GO
ALTER TABLE [auth].[TokenRecuperacionPassword] ADD  DEFAULT ((0)) FOR [usado]
GO
ALTER TABLE [auth].[TokenRecuperacionPassword] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [auth].[TokenVerificacionEmail] ADD  DEFAULT ((0)) FOR [usado]
GO
ALTER TABLE [auth].[TokenVerificacionEmail] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [auth].[Usuario] ADD  DEFAULT ('PENDIENTE') FOR [estado]
GO
ALTER TABLE [auth].[Usuario] ADD  DEFAULT ((0)) FOR [email_verificado]
GO
ALTER TABLE [auth].[Usuario] ADD  DEFAULT ((0)) FOR [acepta_terminos]
GO
ALTER TABLE [auth].[Usuario] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [auth].[Usuario] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [auth].[Usuario] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [auth].[UsuarioRol] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [booking].[EvaluacionInquilino] ADD  DEFAULT ('PENDIENTE') FOR [resultado]
GO
ALTER TABLE [booking].[EvaluacionInquilino] ADD  DEFAULT (sysdatetime()) FOR [fecha_evaluacion]
GO
ALTER TABLE [booking].[Reserva] ADD  DEFAULT ('SOLICITADA') FOR [estado_reserva]
GO
ALTER TABLE [booking].[Reserva] ADD  DEFAULT (sysdatetime()) FOR [fecha_solicitud]
GO
ALTER TABLE [booking].[Reserva] ADD  DEFAULT ('PEN') FOR [moneda]
GO
ALTER TABLE [booking].[Reserva] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [booking].[Reserva] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [booking].[ReservaEvento] ADD  DEFAULT (sysdatetime()) FOR [fecha_evento]
GO
ALTER TABLE [booking].[SolicitudExtension] ADD  DEFAULT ('PENDIENTE') FOR [estado]
GO
ALTER TABLE [booking].[SolicitudExtension] ADD  DEFAULT (sysdatetime()) FOR [fecha_solicitud]
GO
ALTER TABLE [catalog].[BloqueoDisponibilidad] ADD  DEFAULT ('MANUAL') FOR [origen]
GO
ALTER TABLE [catalog].[BloqueoDisponibilidad] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [catalog].[BloqueoDisponibilidad] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [catalog].[Caracteristica] ADD  DEFAULT ('BOOLEAN') FOR [tipo_dato]
GO
ALTER TABLE [catalog].[Caracteristica] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [catalog].[Caracteristica] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [catalog].[Inmueble] ADD  DEFAULT ('Per?') FOR [pais]
GO
ALTER TABLE [catalog].[Inmueble] ADD  DEFAULT ('PEN') FOR [moneda]
GO
ALTER TABLE [catalog].[Inmueble] ADD  DEFAULT ('DISPONIBLE') FOR [estado_operativo]
GO
ALTER TABLE [catalog].[Inmueble] ADD  DEFAULT ((1)) FOR [es_publicable]
GO
ALTER TABLE [catalog].[Inmueble] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [catalog].[Inmueble] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [catalog].[Inmueble] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [catalog].[InmuebleCaracteristica] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [catalog].[InmuebleFoto] ADD  DEFAULT ((1)) FOR [orden_visual]
GO
ALTER TABLE [catalog].[InmuebleFoto] ADD  DEFAULT ((0)) FOR [es_principal]
GO
ALTER TABLE [catalog].[InmuebleFoto] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [catalog].[Publicacion] ADD  DEFAULT ('PEN') FOR [moneda]
GO
ALTER TABLE [catalog].[Publicacion] ADD  DEFAULT ('BORRADOR') FOR [estado_publicacion]
GO
ALTER TABLE [catalog].[Publicacion] ADD  DEFAULT ((0)) FOR [es_destacado]
GO
ALTER TABLE [catalog].[Publicacion] ADD  DEFAULT ((1)) FOR [acepta_reservas]
GO
ALTER TABLE [catalog].[Publicacion] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [catalog].[Publicacion] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [core].[Empresa] ADD  DEFAULT ('Per?') FOR [pais]
GO
ALTER TABLE [core].[Empresa] ADD  DEFAULT ('PEN') FOR [moneda_base]
GO
ALTER TABLE [core].[Empresa] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [core].[Empresa] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [core].[Empresa] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [core].[EmpresaSecretario] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [core].[EmpresaSecretario] ADD  DEFAULT (sysdatetime()) FOR [fecha_asignacion]
GO
ALTER TABLE [core].[EmpresaSecretario] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [core].[PerfilUsuario] ADD  DEFAULT ('Per?') FOR [pais]
GO
ALTER TABLE [core].[PerfilUsuario] ADD  DEFAULT ((1)) FOR [recibe_notif_email]
GO
ALTER TABLE [core].[PerfilUsuario] ADD  DEFAULT ((1)) FOR [recibe_notif_push]
GO
ALTER TABLE [core].[PerfilUsuario] ADD  DEFAULT ((0)) FOR [recibe_notif_sms]
GO
ALTER TABLE [core].[PerfilUsuario] ADD  DEFAULT ((0)) FOR [tiene_aval_bancario]
GO
ALTER TABLE [core].[PerfilUsuario] ADD  DEFAULT ((0)) FOR [tiene_contrato_trabajo]
GO
ALTER TABLE [core].[PerfilUsuario] ADD  DEFAULT ((0)) FOR [tiene_garante]
GO
ALTER TABLE [core].[PerfilUsuario] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [core].[PerfilUsuario] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [finance].[Banco] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [finance].[Banco] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [finance].[CategoriaMovimiento] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [finance].[CategoriaMovimiento] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [finance].[ConceptoCobro] ADD  DEFAULT ((0)) FOR [es_obligatorio]
GO
ALTER TABLE [finance].[ConceptoCobro] ADD  DEFAULT ((0)) FOR [aplica_igv]
GO
ALTER TABLE [finance].[ConceptoCobro] ADD  DEFAULT ((0)) FOR [monto_default]
GO
ALTER TABLE [finance].[ConceptoCobro] ADD  DEFAULT ((1)) FOR [orden_impresion]
GO
ALTER TABLE [finance].[ConceptoCobro] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [finance].[ConceptoCobro] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [finance].[ConceptoCobro] ADD  CONSTRAINT [DF_ConceptoCobro_Categoria]  DEFAULT ('OTRO') FOR [categoria]
GO
ALTER TABLE [finance].[ConceptoCobro] ADD  CONSTRAINT [DF_ConceptoCobro_MetodoCalculo]  DEFAULT ('MANUAL') FOR [metodo_calculo]
GO
ALTER TABLE [finance].[ConceptoCobro] ADD  CONSTRAINT [DF_ConceptoCobro_AplicaEn]  DEFAULT ('AMBOS') FOR [aplica_en]
GO
ALTER TABLE [finance].[ConceptoCobro] ADD  CONSTRAINT [DF_ConceptoCobro_AplicaDesdeDias]  DEFAULT ((1)) FOR [aplica_desde_dias]
GO
ALTER TABLE [finance].[ConceptoCobro] ADD  CONSTRAINT [DF_ConceptoCobro_Prorrateable]  DEFAULT ((0)) FOR [prorrateable]
GO
ALTER TABLE [finance].[ConceptoCobro] ADD  CONSTRAINT [DF_ConceptoCobro_PermitePagoOnline]  DEFAULT ((0)) FOR [permite_pago_online]
GO
ALTER TABLE [finance].[ConceptoCobro] ADD  CONSTRAINT [DF_ConceptoCobro_EsSistema]  DEFAULT ((0)) FOR [es_sistema]
GO
ALTER TABLE [finance].[ConceptoCobro] ADD  CONSTRAINT [DF_ConceptoCobro_Editable]  DEFAULT ((1)) FOR [editable]
GO
ALTER TABLE [finance].[ConfiguracionCobroInmueble] ADD  DEFAULT ((0)) FOR [monto_configurado]
GO
ALTER TABLE [finance].[ConfiguracionCobroInmueble] ADD  DEFAULT ((0)) FOR [es_obligatorio]
GO
ALTER TABLE [finance].[ConfiguracionCobroInmueble] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [finance].[ConfiguracionCobroInmueble] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [finance].[CuentaBancaria] ADD  DEFAULT ('PEN') FOR [moneda]
GO
ALTER TABLE [finance].[CuentaBancaria] ADD  DEFAULT ('CORRIENTE') FOR [tipo_cuenta]
GO
ALTER TABLE [finance].[CuentaBancaria] ADD  DEFAULT ((0)) FOR [saldo_inicial]
GO
ALTER TABLE [finance].[CuentaBancaria] ADD  DEFAULT ((0)) FOR [saldo_actual]
GO
ALTER TABLE [finance].[CuentaBancaria] ADD  DEFAULT ((1)) FOR [activa]
GO
ALTER TABLE [finance].[CuentaBancaria] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [finance].[CuentaCobroInmueble] ADD  DEFAULT ((5)) FOR [dia_vencimiento]
GO
ALTER TABLE [finance].[CuentaCobroInmueble] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [finance].[CuentaCobroInmueble] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [finance].[IndiceIPC] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [finance].[IndiceIPC] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [finance].[MovimientoBancario] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [finance].[Pago] ADD  DEFAULT ('PEN') FOR [moneda]
GO
ALTER TABLE [finance].[Pago] ADD  DEFAULT ('PENDIENTE') FOR [estado_pago]
GO
ALTER TABLE [finance].[Pago] ADD  DEFAULT (sysdatetime()) FOR [fecha_pago]
GO
ALTER TABLE [finance].[Pago] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [finance].[Recibo] ADD  DEFAULT (CONVERT([date],sysdatetime())) FOR [fecha_emision]
GO
ALTER TABLE [finance].[Recibo] ADD  DEFAULT ('EMITIDO') FOR [estado_recibo]
GO
ALTER TABLE [finance].[Recibo] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [finance].[Recibo] ADD  DEFAULT ((0)) FOR [igv_total]
GO
ALTER TABLE [finance].[Recibo] ADD  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [finance].[Recibo] ADD  DEFAULT ((0)) FOR [saldo_pendiente]
GO
ALTER TABLE [finance].[Recibo] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [finance].[Recibo] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [finance].[ReciboDetalle] ADD  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [finance].[ReciboDetalle] ADD  DEFAULT ((0)) FOR [precio_unitario]
GO
ALTER TABLE [finance].[ReciboDetalle] ADD  DEFAULT ((0)) FOR [importe]
GO
ALTER TABLE [finance].[ReciboDetalle] ADD  DEFAULT ((1)) FOR [orden_impresion]
GO
ALTER TABLE [finance].[ReciboDetalle] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [finance].[TarifaInmueble] ADD  DEFAULT ((0)) FOR [porcentaje_ipc_aplicado]
GO
ALTER TABLE [finance].[TarifaInmueble] ADD  DEFAULT ((0)) FOR [monto_incremento]
GO
ALTER TABLE [finance].[TarifaInmueble] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [auth].[SesionUsuario]  WITH CHECK ADD  CONSTRAINT [FK_SesionUsuario_Usuario] FOREIGN KEY([usuario_id])
REFERENCES [auth].[Usuario] ([usuario_id])
GO
ALTER TABLE [auth].[SesionUsuario] CHECK CONSTRAINT [FK_SesionUsuario_Usuario]
GO
ALTER TABLE [auth].[TokenRecuperacionPassword]  WITH CHECK ADD  CONSTRAINT [FK_TokenRecuperacion_Usuario] FOREIGN KEY([usuario_id])
REFERENCES [auth].[Usuario] ([usuario_id])
GO
ALTER TABLE [auth].[TokenRecuperacionPassword] CHECK CONSTRAINT [FK_TokenRecuperacion_Usuario]
GO
ALTER TABLE [auth].[TokenVerificacionEmail]  WITH CHECK ADD  CONSTRAINT [FK_TokenVerificacion_Usuario] FOREIGN KEY([usuario_id])
REFERENCES [auth].[Usuario] ([usuario_id])
GO
ALTER TABLE [auth].[TokenVerificacionEmail] CHECK CONSTRAINT [FK_TokenVerificacion_Usuario]
GO
ALTER TABLE [auth].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Empresa] FOREIGN KEY([empresa_id])
REFERENCES [core].[Empresa] ([empresa_id])
GO
ALTER TABLE [auth].[Usuario] CHECK CONSTRAINT [FK_Usuario_Empresa]
GO
ALTER TABLE [auth].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Rol] FOREIGN KEY([rol_id])
REFERENCES [auth].[Rol] ([rol_id])
GO
ALTER TABLE [auth].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_Rol]
GO
ALTER TABLE [auth].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Usuario] FOREIGN KEY([usuario_id])
REFERENCES [auth].[Usuario] ([usuario_id])
GO
ALTER TABLE [auth].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_Usuario]
GO
ALTER TABLE [booking].[EvaluacionInquilino]  WITH CHECK ADD  CONSTRAINT [FK_EvaluacionInquilino_Reserva] FOREIGN KEY([reserva_id])
REFERENCES [booking].[Reserva] ([reserva_id])
GO
ALTER TABLE [booking].[EvaluacionInquilino] CHECK CONSTRAINT [FK_EvaluacionInquilino_Reserva]
GO
ALTER TABLE [booking].[EvaluacionInquilino]  WITH CHECK ADD  CONSTRAINT [FK_EvaluacionInquilino_Usuario] FOREIGN KEY([evaluado_por_usuario_id])
REFERENCES [auth].[Usuario] ([usuario_id])
GO
ALTER TABLE [booking].[EvaluacionInquilino] CHECK CONSTRAINT [FK_EvaluacionInquilino_Usuario]
GO
ALTER TABLE [booking].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_CanceladoPor] FOREIGN KEY([cancelado_por_usuario_id])
REFERENCES [auth].[Usuario] ([usuario_id])
GO
ALTER TABLE [booking].[Reserva] CHECK CONSTRAINT [FK_Reserva_CanceladoPor]
GO
ALTER TABLE [booking].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_CheckinPor] FOREIGN KEY([checkin_confirmado_por])
REFERENCES [auth].[Usuario] ([usuario_id])
GO
ALTER TABLE [booking].[Reserva] CHECK CONSTRAINT [FK_Reserva_CheckinPor]
GO
ALTER TABLE [booking].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_CheckoutPor] FOREIGN KEY([checkout_confirmado_por])
REFERENCES [auth].[Usuario] ([usuario_id])
GO
ALTER TABLE [booking].[Reserva] CHECK CONSTRAINT [FK_Reserva_CheckoutPor]
GO
ALTER TABLE [booking].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_GestionadoPor] FOREIGN KEY([gestionado_por_usuario_id])
REFERENCES [auth].[Usuario] ([usuario_id])
GO
ALTER TABLE [booking].[Reserva] CHECK CONSTRAINT [FK_Reserva_GestionadoPor]
GO
ALTER TABLE [booking].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Inmueble] FOREIGN KEY([inmueble_id])
REFERENCES [catalog].[Inmueble] ([inmueble_id])
GO
ALTER TABLE [booking].[Reserva] CHECK CONSTRAINT [FK_Reserva_Inmueble]
GO
ALTER TABLE [booking].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Inquilino] FOREIGN KEY([inquilino_id])
REFERENCES [auth].[Usuario] ([usuario_id])
GO
ALTER TABLE [booking].[Reserva] CHECK CONSTRAINT [FK_Reserva_Inquilino]
GO
ALTER TABLE [booking].[ReservaEvento]  WITH CHECK ADD  CONSTRAINT [FK_ReservaEvento_Reserva] FOREIGN KEY([reserva_id])
REFERENCES [booking].[Reserva] ([reserva_id])
GO
ALTER TABLE [booking].[ReservaEvento] CHECK CONSTRAINT [FK_ReservaEvento_Reserva]
GO
ALTER TABLE [booking].[ReservaEvento]  WITH CHECK ADD  CONSTRAINT [FK_ReservaEvento_Usuario] FOREIGN KEY([usuario_id])
REFERENCES [auth].[Usuario] ([usuario_id])
GO
ALTER TABLE [booking].[ReservaEvento] CHECK CONSTRAINT [FK_ReservaEvento_Usuario]
GO
ALTER TABLE [booking].[SolicitudExtension]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudExtension_DecididoPor] FOREIGN KEY([decidido_por_usuario_id])
REFERENCES [auth].[Usuario] ([usuario_id])
GO
ALTER TABLE [booking].[SolicitudExtension] CHECK CONSTRAINT [FK_SolicitudExtension_DecididoPor]
GO
ALTER TABLE [booking].[SolicitudExtension]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudExtension_Reserva] FOREIGN KEY([reserva_id])
REFERENCES [booking].[Reserva] ([reserva_id])
GO
ALTER TABLE [booking].[SolicitudExtension] CHECK CONSTRAINT [FK_SolicitudExtension_Reserva]
GO
ALTER TABLE [booking].[SolicitudExtension]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudExtension_Solicitante] FOREIGN KEY([solicitante_usuario_id])
REFERENCES [auth].[Usuario] ([usuario_id])
GO
ALTER TABLE [booking].[SolicitudExtension] CHECK CONSTRAINT [FK_SolicitudExtension_Solicitante]
GO
ALTER TABLE [catalog].[BloqueoDisponibilidad]  WITH CHECK ADD  CONSTRAINT [FK_BloqueoDisponibilidad_Inmueble] FOREIGN KEY([inmueble_id])
REFERENCES [catalog].[Inmueble] ([inmueble_id])
GO
ALTER TABLE [catalog].[BloqueoDisponibilidad] CHECK CONSTRAINT [FK_BloqueoDisponibilidad_Inmueble]
GO
ALTER TABLE [catalog].[BloqueoDisponibilidad]  WITH CHECK ADD  CONSTRAINT [FK_BloqueoDisponibilidad_Padre] FOREIGN KEY([bloqueo_padre_id])
REFERENCES [catalog].[BloqueoDisponibilidad] ([bloqueo_disponibilidad_id])
GO
ALTER TABLE [catalog].[BloqueoDisponibilidad] CHECK CONSTRAINT [FK_BloqueoDisponibilidad_Padre]
GO
ALTER TABLE [catalog].[Inmueble]  WITH CHECK ADD  CONSTRAINT [FK_Inmueble_Edificio] FOREIGN KEY([edificio_id])
REFERENCES [catalog].[Inmueble] ([inmueble_id])
GO
ALTER TABLE [catalog].[Inmueble] CHECK CONSTRAINT [FK_Inmueble_Edificio]
GO
ALTER TABLE [catalog].[Inmueble]  WITH CHECK ADD  CONSTRAINT [FK_Inmueble_Empresa] FOREIGN KEY([empresa_id])
REFERENCES [core].[Empresa] ([empresa_id])
GO
ALTER TABLE [catalog].[Inmueble] CHECK CONSTRAINT [FK_Inmueble_Empresa]
GO
ALTER TABLE [catalog].[InmuebleCaracteristica]  WITH CHECK ADD  CONSTRAINT [FK_InmuebleCaracteristica_Caracteristica] FOREIGN KEY([caracteristica_id])
REFERENCES [catalog].[Caracteristica] ([caracteristica_id])
GO
ALTER TABLE [catalog].[InmuebleCaracteristica] CHECK CONSTRAINT [FK_InmuebleCaracteristica_Caracteristica]
GO
ALTER TABLE [catalog].[InmuebleCaracteristica]  WITH CHECK ADD  CONSTRAINT [FK_InmuebleCaracteristica_Inmueble] FOREIGN KEY([inmueble_id])
REFERENCES [catalog].[Inmueble] ([inmueble_id])
GO
ALTER TABLE [catalog].[InmuebleCaracteristica] CHECK CONSTRAINT [FK_InmuebleCaracteristica_Inmueble]
GO
ALTER TABLE [catalog].[InmuebleFoto]  WITH CHECK ADD  CONSTRAINT [FK_InmuebleFoto_Publicacion] FOREIGN KEY([publicacion_id])
REFERENCES [catalog].[Publicacion] ([publicacion_id])
GO
ALTER TABLE [catalog].[InmuebleFoto] CHECK CONSTRAINT [FK_InmuebleFoto_Publicacion]
GO
ALTER TABLE [catalog].[Publicacion]  WITH CHECK ADD  CONSTRAINT [FK_Publicacion_Inmueble] FOREIGN KEY([inmueble_id])
REFERENCES [catalog].[Inmueble] ([inmueble_id])
GO
ALTER TABLE [catalog].[Publicacion] CHECK CONSTRAINT [FK_Publicacion_Inmueble]
GO
ALTER TABLE [catalog].[Publicacion]  WITH CHECK ADD  CONSTRAINT [FK_Publicacion_PublicadoPorUsuario] FOREIGN KEY([publicado_por_usuario_id])
REFERENCES [auth].[Usuario] ([usuario_id])
GO
ALTER TABLE [catalog].[Publicacion] CHECK CONSTRAINT [FK_Publicacion_PublicadoPorUsuario]
GO
ALTER TABLE [core].[EmpresaSecretario]  WITH CHECK ADD  CONSTRAINT [FK_EmpresaSecretario_AsignadoPor] FOREIGN KEY([asignado_por_usuario_id])
REFERENCES [auth].[Usuario] ([usuario_id])
GO
ALTER TABLE [core].[EmpresaSecretario] CHECK CONSTRAINT [FK_EmpresaSecretario_AsignadoPor]
GO
ALTER TABLE [core].[EmpresaSecretario]  WITH CHECK ADD  CONSTRAINT [FK_EmpresaSecretario_Empresa] FOREIGN KEY([empresa_id])
REFERENCES [core].[Empresa] ([empresa_id])
GO
ALTER TABLE [core].[EmpresaSecretario] CHECK CONSTRAINT [FK_EmpresaSecretario_Empresa]
GO
ALTER TABLE [core].[EmpresaSecretario]  WITH CHECK ADD  CONSTRAINT [FK_EmpresaSecretario_Secretario] FOREIGN KEY([secretario_usuario_id])
REFERENCES [auth].[Usuario] ([usuario_id])
GO
ALTER TABLE [core].[EmpresaSecretario] CHECK CONSTRAINT [FK_EmpresaSecretario_Secretario]
GO
ALTER TABLE [core].[PerfilUsuario]  WITH CHECK ADD  CONSTRAINT [FK_PerfilUsuario_Usuario] FOREIGN KEY([usuario_id])
REFERENCES [auth].[Usuario] ([usuario_id])
GO
ALTER TABLE [core].[PerfilUsuario] CHECK CONSTRAINT [FK_PerfilUsuario_Usuario]
GO
ALTER TABLE [finance].[ConfiguracionCobroInmueble]  WITH CHECK ADD  CONSTRAINT [FK_ConfigCobro_Concepto] FOREIGN KEY([concepto_cobro_id])
REFERENCES [finance].[ConceptoCobro] ([concepto_cobro_id])
GO
ALTER TABLE [finance].[ConfiguracionCobroInmueble] CHECK CONSTRAINT [FK_ConfigCobro_Concepto]
GO
ALTER TABLE [finance].[ConfiguracionCobroInmueble]  WITH CHECK ADD  CONSTRAINT [FK_ConfigCobro_Inmueble] FOREIGN KEY([inmueble_id])
REFERENCES [catalog].[Inmueble] ([inmueble_id])
GO
ALTER TABLE [finance].[ConfiguracionCobroInmueble] CHECK CONSTRAINT [FK_ConfigCobro_Inmueble]
GO
ALTER TABLE [finance].[CuentaBancaria]  WITH CHECK ADD  CONSTRAINT [FK_CuentaBancaria_Banco] FOREIGN KEY([banco_id])
REFERENCES [finance].[Banco] ([banco_id])
GO
ALTER TABLE [finance].[CuentaBancaria] CHECK CONSTRAINT [FK_CuentaBancaria_Banco]
GO
ALTER TABLE [finance].[CuentaBancaria]  WITH CHECK ADD  CONSTRAINT [FK_CuentaBancaria_Empresa] FOREIGN KEY([empresa_id])
REFERENCES [core].[Empresa] ([empresa_id])
GO
ALTER TABLE [finance].[CuentaBancaria] CHECK CONSTRAINT [FK_CuentaBancaria_Empresa]
GO
ALTER TABLE [finance].[CuentaCobroInmueble]  WITH CHECK ADD  CONSTRAINT [FK_CuentaCobroInmueble_Inmueble] FOREIGN KEY([inmueble_id])
REFERENCES [catalog].[Inmueble] ([inmueble_id])
GO
ALTER TABLE [finance].[CuentaCobroInmueble] CHECK CONSTRAINT [FK_CuentaCobroInmueble_Inmueble]
GO
ALTER TABLE [finance].[MovimientoBancario]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoBancario_Categoria] FOREIGN KEY([categoria_movimiento_id])
REFERENCES [finance].[CategoriaMovimiento] ([categoria_movimiento_id])
GO
ALTER TABLE [finance].[MovimientoBancario] CHECK CONSTRAINT [FK_MovimientoBancario_Categoria]
GO
ALTER TABLE [finance].[MovimientoBancario]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoBancario_Cuenta] FOREIGN KEY([cuenta_bancaria_id])
REFERENCES [finance].[CuentaBancaria] ([cuenta_bancaria_id])
GO
ALTER TABLE [finance].[MovimientoBancario] CHECK CONSTRAINT [FK_MovimientoBancario_Cuenta]
GO
ALTER TABLE [finance].[MovimientoBancario]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoBancario_Inmueble] FOREIGN KEY([inmueble_id])
REFERENCES [catalog].[Inmueble] ([inmueble_id])
GO
ALTER TABLE [finance].[MovimientoBancario] CHECK CONSTRAINT [FK_MovimientoBancario_Inmueble]
GO
ALTER TABLE [finance].[MovimientoBancario]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoBancario_Pago] FOREIGN KEY([pago_id])
REFERENCES [finance].[Pago] ([pago_id])
GO
ALTER TABLE [finance].[MovimientoBancario] CHECK CONSTRAINT [FK_MovimientoBancario_Pago]
GO
ALTER TABLE [finance].[MovimientoBancario]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoBancario_Recibo] FOREIGN KEY([recibo_id])
REFERENCES [finance].[Recibo] ([recibo_id])
GO
ALTER TABLE [finance].[MovimientoBancario] CHECK CONSTRAINT [FK_MovimientoBancario_Recibo]
GO
ALTER TABLE [finance].[MovimientoBancario]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoBancario_Reserva] FOREIGN KEY([reserva_id])
REFERENCES [booking].[Reserva] ([reserva_id])
GO
ALTER TABLE [finance].[MovimientoBancario] CHECK CONSTRAINT [FK_MovimientoBancario_Reserva]
GO
ALTER TABLE [finance].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Recibo] FOREIGN KEY([recibo_id])
REFERENCES [finance].[Recibo] ([recibo_id])
GO
ALTER TABLE [finance].[Pago] CHECK CONSTRAINT [FK_Pago_Recibo]
GO
ALTER TABLE [finance].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Reserva] FOREIGN KEY([reserva_id])
REFERENCES [booking].[Reserva] ([reserva_id])
GO
ALTER TABLE [finance].[Pago] CHECK CONSTRAINT [FK_Pago_Reserva]
GO
ALTER TABLE [finance].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Usuario] FOREIGN KEY([usuario_pagador_id])
REFERENCES [auth].[Usuario] ([usuario_id])
GO
ALTER TABLE [finance].[Pago] CHECK CONSTRAINT [FK_Pago_Usuario]
GO
ALTER TABLE [finance].[Recibo]  WITH CHECK ADD  CONSTRAINT [FK_Recibo_CuentaCobro] FOREIGN KEY([cuenta_cobro_inmueble_id])
REFERENCES [finance].[CuentaCobroInmueble] ([cuenta_cobro_inmueble_id])
GO
ALTER TABLE [finance].[Recibo] CHECK CONSTRAINT [FK_Recibo_CuentaCobro]
GO
ALTER TABLE [finance].[Recibo]  WITH CHECK ADD  CONSTRAINT [FK_Recibo_ReciboOrigen] FOREIGN KEY([generado_desde_recibo_id])
REFERENCES [finance].[Recibo] ([recibo_id])
GO
ALTER TABLE [finance].[Recibo] CHECK CONSTRAINT [FK_Recibo_ReciboOrigen]
GO
ALTER TABLE [finance].[Recibo]  WITH CHECK ADD  CONSTRAINT [FK_Recibo_Reserva] FOREIGN KEY([reserva_id])
REFERENCES [booking].[Reserva] ([reserva_id])
GO
ALTER TABLE [finance].[Recibo] CHECK CONSTRAINT [FK_Recibo_Reserva]
GO
ALTER TABLE [finance].[Recibo]  WITH CHECK ADD  CONSTRAINT [FK_Recibo_Usuario] FOREIGN KEY([emitido_por_usuario_id])
REFERENCES [auth].[Usuario] ([usuario_id])
GO
ALTER TABLE [finance].[Recibo] CHECK CONSTRAINT [FK_Recibo_Usuario]
GO
ALTER TABLE [finance].[ReciboDetalle]  WITH CHECK ADD  CONSTRAINT [FK_ReciboDetalle_Concepto] FOREIGN KEY([concepto_cobro_id])
REFERENCES [finance].[ConceptoCobro] ([concepto_cobro_id])
GO
ALTER TABLE [finance].[ReciboDetalle] CHECK CONSTRAINT [FK_ReciboDetalle_Concepto]
GO
ALTER TABLE [finance].[ReciboDetalle]  WITH CHECK ADD  CONSTRAINT [FK_ReciboDetalle_Recibo] FOREIGN KEY([recibo_id])
REFERENCES [finance].[Recibo] ([recibo_id])
GO
ALTER TABLE [finance].[ReciboDetalle] CHECK CONSTRAINT [FK_ReciboDetalle_Recibo]
GO
ALTER TABLE [finance].[TarifaInmueble]  WITH CHECK ADD  CONSTRAINT [FK_TarifaInmueble_IndiceIPC] FOREIGN KEY([indice_ipc_id])
REFERENCES [finance].[IndiceIPC] ([indice_ipc_id])
GO
ALTER TABLE [finance].[TarifaInmueble] CHECK CONSTRAINT [FK_TarifaInmueble_IndiceIPC]
GO
ALTER TABLE [finance].[TarifaInmueble]  WITH CHECK ADD  CONSTRAINT [FK_TarifaInmueble_Inmueble] FOREIGN KEY([inmueble_id])
REFERENCES [catalog].[Inmueble] ([inmueble_id])
GO
ALTER TABLE [finance].[TarifaInmueble] CHECK CONSTRAINT [FK_TarifaInmueble_Inmueble]
GO
ALTER TABLE [finance].[TarifaInmueble]  WITH CHECK ADD  CONSTRAINT [FK_TarifaInmueble_Usuario] FOREIGN KEY([aplicado_por_usuario_id])
REFERENCES [auth].[Usuario] ([usuario_id])
GO
ALTER TABLE [finance].[TarifaInmueble] CHECK CONSTRAINT [FK_TarifaInmueble_Usuario]
GO
ALTER TABLE [auth].[Usuario]  WITH CHECK ADD  CONSTRAINT [CK_Usuario_Estado] CHECK  (([estado]='INACTIVO' OR [estado]='BLOQUEADO' OR [estado]='ACTIVO' OR [estado]='PENDIENTE'))
GO
ALTER TABLE [auth].[Usuario] CHECK CONSTRAINT [CK_Usuario_Estado]
GO
ALTER TABLE [booking].[EvaluacionInquilino]  WITH CHECK ADD  CONSTRAINT [CK_EvaluacionInquilino_Resultado] CHECK  (([resultado]='RECHAZADO' OR [resultado]='OBSERVADO' OR [resultado]='APROBADO' OR [resultado]='PENDIENTE'))
GO
ALTER TABLE [booking].[EvaluacionInquilino] CHECK CONSTRAINT [CK_EvaluacionInquilino_Resultado]
GO
ALTER TABLE [booking].[Reserva]  WITH CHECK ADD  CONSTRAINT [CK_Reserva_Estado] CHECK  (([estado_reserva]='EXPIRADA' OR [estado_reserva]='FINALIZADA' OR [estado_reserva]='ACTIVA' OR [estado_reserva]='CANCELADA' OR [estado_reserva]='RECHAZADA' OR [estado_reserva]='APROBADA' OR [estado_reserva]='SOLICITADA'))
GO
ALTER TABLE [booking].[Reserva] CHECK CONSTRAINT [CK_Reserva_Estado]
GO
ALTER TABLE [booking].[Reserva]  WITH CHECK ADD  CONSTRAINT [CK_Reserva_Fechas] CHECK  (([fecha_fin]>[fecha_inicio]))
GO
ALTER TABLE [booking].[Reserva] CHECK CONSTRAINT [CK_Reserva_Fechas]
GO
ALTER TABLE [booking].[ReservaEvento]  WITH CHECK ADD  CONSTRAINT [CK_ReservaEvento_Tipo] CHECK  (([tipo_evento]='NOTA' OR [tipo_evento]='CANCELACION' OR [tipo_evento]='EXTENSION' OR [tipo_evento]='CHECKOUT' OR [tipo_evento]='CHECKIN' OR [tipo_evento]='RECHAZO' OR [tipo_evento]='APROBACION' OR [tipo_evento]='SOLICITUD'))
GO
ALTER TABLE [booking].[ReservaEvento] CHECK CONSTRAINT [CK_ReservaEvento_Tipo]
GO
ALTER TABLE [booking].[SolicitudExtension]  WITH CHECK ADD  CONSTRAINT [CK_SolicitudExtension_Estado] CHECK  (([estado]='CANCELADA' OR [estado]='RECHAZADA' OR [estado]='APROBADA' OR [estado]='PENDIENTE'))
GO
ALTER TABLE [booking].[SolicitudExtension] CHECK CONSTRAINT [CK_SolicitudExtension_Estado]
GO
ALTER TABLE [catalog].[BloqueoDisponibilidad]  WITH CHECK ADD  CONSTRAINT [CK_BloqueoDisponibilidad_Origen] CHECK  (([origen]='OTRO' OR [origen]='MANTENIMIENTO' OR [origen]='MANUAL'))
GO
ALTER TABLE [catalog].[BloqueoDisponibilidad] CHECK CONSTRAINT [CK_BloqueoDisponibilidad_Origen]
GO
ALTER TABLE [catalog].[BloqueoDisponibilidad]  WITH CHECK ADD  CONSTRAINT [CK_BloqueoDisponibilidad_Rango] CHECK  (([fecha_fin]>=[fecha_inicio]))
GO
ALTER TABLE [catalog].[BloqueoDisponibilidad] CHECK CONSTRAINT [CK_BloqueoDisponibilidad_Rango]
GO
ALTER TABLE [catalog].[Caracteristica]  WITH CHECK ADD  CONSTRAINT [CK_Caracteristica_TipoDato] CHECK  (([tipo_dato]='NUMERO' OR [tipo_dato]='TEXTO' OR [tipo_dato]='BOOLEAN'))
GO
ALTER TABLE [catalog].[Caracteristica] CHECK CONSTRAINT [CK_Caracteristica_TipoDato]
GO
ALTER TABLE [catalog].[Inmueble]  WITH CHECK ADD  CONSTRAINT [CK_Inmueble_Estado] CHECK  (([estado_operativo]='INACTIVO' OR [estado_operativo]='MANTENIMIENTO' OR [estado_operativo]='OCUPADO' OR [estado_operativo]='RESERVADO' OR [estado_operativo]='DISPONIBLE'))
GO
ALTER TABLE [catalog].[Inmueble] CHECK CONSTRAINT [CK_Inmueble_Estado]
GO
ALTER TABLE [catalog].[Inmueble]  WITH CHECK ADD  CONSTRAINT [CK_Inmueble_NoAutoReferencia] CHECK  (([edificio_id] IS NULL OR [edificio_id]<>[inmueble_id]))
GO
ALTER TABLE [catalog].[Inmueble] CHECK CONSTRAINT [CK_Inmueble_NoAutoReferencia]
GO
ALTER TABLE [catalog].[Inmueble]  WITH CHECK ADD  CONSTRAINT [CK_Inmueble_RelacionTipo] CHECK  (([tipo_inmueble]='EDIFICIO' AND [edificio_id] IS NULL AND [planta] IS NULL AND [letra] IS NULL OR ([tipo_inmueble]='LOCAL' OR [tipo_inmueble]='PISO') AND [edificio_id] IS NOT NULL))
GO
ALTER TABLE [catalog].[Inmueble] CHECK CONSTRAINT [CK_Inmueble_RelacionTipo]
GO
ALTER TABLE [catalog].[Inmueble]  WITH CHECK ADD  CONSTRAINT [CK_Inmueble_Tipo] CHECK  (([tipo_inmueble]='LOCAL' OR [tipo_inmueble]='PISO' OR [tipo_inmueble]='EDIFICIO'))
GO
ALTER TABLE [catalog].[Inmueble] CHECK CONSTRAINT [CK_Inmueble_Tipo]
GO
ALTER TABLE [catalog].[InmuebleFoto]  WITH CHECK ADD  CONSTRAINT [CK_InmuebleFoto_Orden] CHECK  (([orden_visual]>(0)))
GO
ALTER TABLE [catalog].[InmuebleFoto] CHECK CONSTRAINT [CK_InmuebleFoto_Orden]
GO
ALTER TABLE [catalog].[Publicacion]  WITH CHECK ADD  CONSTRAINT [CK_Publicacion_Estado] CHECK  (([estado_publicacion]='RETIRADO' OR [estado_publicacion]='PAUSADO' OR [estado_publicacion]='PUBLICADO' OR [estado_publicacion]='BORRADOR'))
GO
ALTER TABLE [catalog].[Publicacion] CHECK CONSTRAINT [CK_Publicacion_Estado]
GO
ALTER TABLE [core].[EmpresaSecretario]  WITH CHECK ADD  CONSTRAINT [CK_EmpresaSecretario_NoAutoAsignacion] CHECK  (([secretario_usuario_id]<>[asignado_por_usuario_id]))
GO
ALTER TABLE [core].[EmpresaSecretario] CHECK CONSTRAINT [CK_EmpresaSecretario_NoAutoAsignacion]
GO
ALTER TABLE [core].[PerfilUsuario]  WITH CHECK ADD  CONSTRAINT [CK_PerfilUsuario_Sexo] CHECK  (([sexo] IS NULL OR ([sexo]='O' OR [sexo]='F' OR [sexo]='M')))
GO
ALTER TABLE [core].[PerfilUsuario] CHECK CONSTRAINT [CK_PerfilUsuario_Sexo]
GO
ALTER TABLE [finance].[CategoriaMovimiento]  WITH CHECK ADD  CONSTRAINT [CK_CategoriaMovimiento_Naturaleza] CHECK  (([naturaleza]='INGRESO' OR [naturaleza]='GASTO'))
GO
ALTER TABLE [finance].[CategoriaMovimiento] CHECK CONSTRAINT [CK_CategoriaMovimiento_Naturaleza]
GO
ALTER TABLE [finance].[ConceptoCobro]  WITH CHECK ADD  CONSTRAINT [CK_ConceptoCobro_Orden] CHECK  (([orden_impresion]>(0)))
GO
ALTER TABLE [finance].[ConceptoCobro] CHECK CONSTRAINT [CK_ConceptoCobro_Orden]
GO
ALTER TABLE [finance].[ConceptoCobro]  WITH CHECK ADD  CONSTRAINT [CK_ConceptoCobro_Tipo] CHECK  (([tipo_concepto]='SERVICIO' OR [tipo_concepto]='IMPUESTO' OR [tipo_concepto]='VARIABLE' OR [tipo_concepto]='FIJO'))
GO
ALTER TABLE [finance].[ConceptoCobro] CHECK CONSTRAINT [CK_ConceptoCobro_Tipo]
GO
ALTER TABLE [finance].[ConfiguracionCobroInmueble]  WITH CHECK ADD  CONSTRAINT [CK_ConfigCobro_Rango] CHECK  (([vigencia_hasta] IS NULL OR [vigencia_hasta]>=[vigencia_desde]))
GO
ALTER TABLE [finance].[ConfiguracionCobroInmueble] CHECK CONSTRAINT [CK_ConfigCobro_Rango]
GO
ALTER TABLE [finance].[CuentaBancaria]  WITH CHECK ADD  CONSTRAINT [CK_CuentaBancaria_Tipo] CHECK  (([tipo_cuenta]='CORRIENTE' OR [tipo_cuenta]='AHORRO'))
GO
ALTER TABLE [finance].[CuentaBancaria] CHECK CONSTRAINT [CK_CuentaBancaria_Tipo]
GO
ALTER TABLE [finance].[CuentaCobroInmueble]  WITH CHECK ADD  CONSTRAINT [CK_CuentaCobroInmueble_Dia] CHECK  (([dia_vencimiento]>=(1) AND [dia_vencimiento]<=(31)))
GO
ALTER TABLE [finance].[CuentaCobroInmueble] CHECK CONSTRAINT [CK_CuentaCobroInmueble_Dia]
GO
ALTER TABLE [finance].[MovimientoBancario]  WITH CHECK ADD  CONSTRAINT [CK_MovimientoBancario_Importe] CHECK  (([importe]>(0)))
GO
ALTER TABLE [finance].[MovimientoBancario] CHECK CONSTRAINT [CK_MovimientoBancario_Importe]
GO
ALTER TABLE [finance].[MovimientoBancario]  WITH CHECK ADD  CONSTRAINT [CK_MovimientoBancario_Tipo] CHECK  (([tipo_movimiento]='INGRESO' OR [tipo_movimiento]='GASTO'))
GO
ALTER TABLE [finance].[MovimientoBancario] CHECK CONSTRAINT [CK_MovimientoBancario_Tipo]
GO
ALTER TABLE [finance].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_Estado] CHECK  (([estado_pago]='ANULADO' OR [estado_pago]='REEMBOLSADO' OR [estado_pago]='FALLIDO' OR [estado_pago]='CONFIRMADO' OR [estado_pago]='PENDIENTE'))
GO
ALTER TABLE [finance].[Pago] CHECK CONSTRAINT [CK_Pago_Estado]
GO
ALTER TABLE [finance].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_Metodo] CHECK  (([metodo_pago]='TARJETA' OR [metodo_pago]='EFECTIVO' OR [metodo_pago]='TRANSFERENCIA' OR [metodo_pago]='ONLINE'))
GO
ALTER TABLE [finance].[Pago] CHECK CONSTRAINT [CK_Pago_Metodo]
GO
ALTER TABLE [finance].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_Monto] CHECK  (([monto]>(0)))
GO
ALTER TABLE [finance].[Pago] CHECK CONSTRAINT [CK_Pago_Monto]
GO
ALTER TABLE [finance].[Recibo]  WITH CHECK ADD  CONSTRAINT [CK_Recibo_Estado] CHECK  (([estado_recibo]='ANULADO' OR [estado_recibo]='VENCIDO' OR [estado_recibo]='PARCIAL' OR [estado_recibo]='PAGADO' OR [estado_recibo]='EMITIDO'))
GO
ALTER TABLE [finance].[Recibo] CHECK CONSTRAINT [CK_Recibo_Estado]
GO
ALTER TABLE [finance].[Recibo]  WITH CHECK ADD  CONSTRAINT [CK_Recibo_Fechas] CHECK  (([fecha_vencimiento]>=[fecha_emision]))
GO
ALTER TABLE [finance].[Recibo] CHECK CONSTRAINT [CK_Recibo_Fechas]
GO
ALTER TABLE [finance].[Recibo]  WITH CHECK ADD  CONSTRAINT [CK_Recibo_PeriodoMes] CHECK  (([periodo_mes]>=(1) AND [periodo_mes]<=(12)))
GO
ALTER TABLE [finance].[Recibo] CHECK CONSTRAINT [CK_Recibo_PeriodoMes]
GO
ALTER TABLE [finance].[ReciboDetalle]  WITH CHECK ADD  CONSTRAINT [CK_ReciboDetalle_Cantidad] CHECK  (([cantidad]>=(0)))
GO
ALTER TABLE [finance].[ReciboDetalle] CHECK CONSTRAINT [CK_ReciboDetalle_Cantidad]
GO
ALTER TABLE [finance].[ReciboDetalle]  WITH CHECK ADD  CONSTRAINT [CK_ReciboDetalle_Importe] CHECK  (([importe]>=(0)))
GO
ALTER TABLE [finance].[ReciboDetalle] CHECK CONSTRAINT [CK_ReciboDetalle_Importe]
GO
ALTER TABLE [finance].[ReciboDetalle]  WITH CHECK ADD  CONSTRAINT [CK_ReciboDetalle_Precio] CHECK  (([precio_unitario]>=(0)))
GO
ALTER TABLE [finance].[ReciboDetalle] CHECK CONSTRAINT [CK_ReciboDetalle_Precio]
GO
ALTER TABLE [finance].[TarifaInmueble]  WITH CHECK ADD  CONSTRAINT [CK_TarifaInmueble_Rango] CHECK  (([vigencia_hasta] IS NULL OR [vigencia_hasta]>=[vigencia_desde]))
GO
ALTER TABLE [finance].[TarifaInmueble] CHECK CONSTRAINT [CK_TarifaInmueble_Rango]
GO
